{# Renders a menu with any child static pages #}

{% set parentOrSelf = page.parent ?: page %}
{% set childPages = parentOrSelf.children %}

<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-pills">
            {% for childPage in childPages if not childPage.navigation_hidden %}
                <li class="{{ page.url == childPage.url ? 'active' }}">
                    <a href="{{ childPage.url|app }}">
                        {{ childPage.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>