[viewBag]

[staticMenu mainMenu]
code = "main"

[staticBreadcrumbs]
==
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">{{ 'nav.brand'|_ }}</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {% for item in mainMenu.menuItems %}
                <li class="nav-item{{ item.isActive ? ' active' : ''}}">
                    <a class="nav-link" href="{{ item.url }}" target="{{ item.viewBag.isExternal ? '_blank' : '' }}">{{ item.title }}</a>
                </li>

            {% endfor %}
        </ul>
    </div>
</nav>
<!--
<div class="container">
{% if staticBreadcrumbs.breadcrumbs %}
    <nav class="breadcrumb">
        {% for breadcrumb in staticBreadcrumbs.breadcrumbs %}
            {% if breadcrumb.isActive %}
                <span class="breadcrumb-item active">{{ breadcrumb.title }}</span>
            {% else %}
                <a class="breadcrumb-item" href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
            {% endif %}
        {% endfor %}
    </nav>
{% endif %}
</div>
-->